{% extends "index.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Movie World</h1>
        <p class="lead">Best ideas for long winter evenings</p>
    </div>
    <div class="col-lg-12 mb-4">
            {% if chosen_list != "" %}
            {% set list1 = chosen_list.split('_') %}
            {% set string1 = list1|join(' ') %}
            <a href="{{ url_for('homepage', list_type=chosen_list) }}" class="btn btn-primary">{{ string1.title() }}</a>
            {% endif %}
            {% for list in movie_lists %}
            {% set list2 = list.split('_') %}
            {% set string2 = list2|join(' ') %}
            <a href="{{ url_for('homepage', list_type=list) }}" class="btn btn-outline-info">{{ string2.title() }}</a>
            {% endfor %}
    </div>
    {% for movie in movies %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="{{ tmdb_image_url(movie.poster_path, 'w780') }}">
            <div class="card-body">
                <h4 class="card-title">{{movie.title}}</h4>
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}">See more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}