{% extends "index.html" %}

{% block content %}
<div class="container">

   <h1 class="my-4">
       {{ movie.title }}
   </h1>


   <div class="row">
     <div class="col-md-9">
<!--       <img src="{{ tmdb_image_url(movie.backdrop_path, "w780") }}">-->
         <img src="{{ image }}">
     </div>
     <div class="col-md-3">
         <h3>{{ movie.tagline }}</h3>
       <p>
           {{ movie.overview }}
       </p>
       <dl>
           <dt>Popularity</dt>
           <dd>{{ movie.popularity }}</dd>
           <dt>Genre</dt>
           <dd>{% for genre in movie.genres %}{{ genre.name }}, {% endfor %}</dd>
         </dl>
     </div>
   </div>
    <h3 class="my-4">Cast</h3>

    <div class="col-md-3 col-sm-6 mb-4">
        {% for person in people %}
           <a href="#">

               <figure class="figure">
                   {% if person.profile_path %}
                        <img src="{{ tmdb_image_url(person.profile_path, "w185") }}" >
                   {% else %}
                        <img src="https://placehold.it/185x278?text={{ person.name }}">
                   {% endif %}
                   <figcaption class="figure-caption"><strong>{{ person.character }}</strong></figcaption>
                   <figcaption class="figure-caption">{{ person.name }}</figcaption>
               </figure>

           </a>
        {% endfor %}
    </div>

 </div>
{% endblock %}